.line {
    color: grey;
    cursor: pointer;
    padding-right: 15px;
  }
  
  .line:hover {
    color: black;
    font-weight: bold;
  }
  .dropdown-toggle::after {
    display: none;
}
.block{
    width: 40px;
}
.tooltip-custom {
  max-width: 500px;  /* Tooltip의 최대 너비를 200px로 설정합니다. */
  z-index: 1000;
  margin-left: 200px;
  background-color: white;
  border-radius: 50;
  border: 2px solid;

}
.my-modal {
  width: 50vw !important; /* Occupy the 90% of the screen width */
  max-width: 90vw !important;
  position: relative !important;
  display: table !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
  min-width: 300px !important;
  height: 800px !important;
  margin: auto !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
